body {
    background-color: #002b36;
    color: #93a1a1;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 90%;
    max-height: 90vh;
    height: auto;
    border: 2px solid #657b83;
    display: block;
    margin: 10px auto;
}
